<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dietAssistant.mapper.FoodMapper">
    <insert id="add">
        insert into foods(name, description, is_official, created_user, created_time, updated_time)
        VALUES (#{name}, #{description}, #{isOfficial}, #{createdUser}, #{createdTime}, #{updatedTime})
    </insert>
</mapper>