<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dietAssistant.mapper.UserDietPlansMapper">
    <insert id="addFoodPlan">
        insert into userdietplans(user_id, dietplan_id, dietplan_name, selecte_status)
        values (#{userId}, #{dietplanId}, #{dietplanName}, #{selectStatus})
    </insert>
</mapper>